html, body{
    width:100%;
    height:100%;
}

p,a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a:link{
    color:darkblue;
    text-decoration-line:none;
}

a:visited{
    color:darkblue;
    text-decoration:none;
}


a:hover{
    color:darkblue;
    text-decoration-line: underline;
}

a:active{
    color:darkblue;
    text-decoration-line:underline;
}

#table1{
    height:20%;
    width:100%; 
    border:0px; 
    border-collapse:collapse;
}

#imgtext > div {
    display: none;
}

#imgtext > div.visible {
    display: block;
}

#table15{
    height: 80%;
    width:100%;
}

#part1{
    width:20%;
    height:100%;
}

#schedule{
    overflow-y: scroll;
    overflow-x: hidden;
    height:100%;
    width:100%;
}

#table2{
    height:100%;
    width:100%;
}

button{
    width:100%;
    background-color: white;
    border-width: 0px;
    padding:10%;
    font-size:90%;
}

button:hover{
    background-color: whitesmoke;
}

#upco:hover{
    background-color: white;
}

button:focus{
    background-color:gainsboro;
}

#upco:focus{
    background-color: white;
}

#part2{
    padding-left: 3%;
}

.imgtd{
    width:35%;
}

#imgtext img{
    height:100%;
    width:100%;
    aspect-ratio: 2/2.83018868;
}

td.scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    height:100%;
    padding:5%;
}
